.profile {
  width: 80%;
  margin: auto;
  padding-top: 80px;
}

.profile h2 {
  margin: auto;
  text-align: center;
  width: 60%;
}

.profile p {
  width: 60%;
  margin: auto;
  padding-bottom: 15px;
  text-align: left;
}

.face {
  height: 220px;
  border-radius: 100%;
  float: right;
  margin: 15px 35px;
  position: relative;
}
