<div id="about" class="sect profile">
  <div>
    <img class="face" src="../../../assets/images/aaronFace.jpeg" alt="my face">
  </div>
  <h2>Hello.</h2>
  <p>I have always believed in the philosophy of going after your dreams, despite the chances of achieving them or how difficult it might be. Nothing great has ever been accomplished in the history of the world without someone taking that first tiny step, that first risk or just asking that first question of “Can I achieve this?”. I am a Software Engineer and Entrepreneur who is constantly learning new skills and am passionate about building my knowledge in all areas of my life, especially Software Engineering. It offers endless opportunities for personal growth and the adventure of gaining new knowledge that is evolving daily. I am dedicated to constantly growing my <a class="pj" href="#skills">skill-set</a> and improving my code. Look below to see a few of my <a class="pj" href="#projects">projects.</a> </p>
</div>
