.bottom-container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  background-color: #66BFBF;
  text-align: center;
}

.footer-link {
  color: #f8f8ff;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}

.footer-link:hover {
  color: #EAF6F6;
  text-decoration: none;
}
.copy {
  color: #11999E;
}
