<div id="projects" class="sect proj">
  <h2>Web Dev Projects</h2>
  <div class="row show">
    <!-- Tinpurr -->
    <div class="proj-row ">
      <div class="image" onmouseover="ga('send','event', 'overlay', 'hover', 'tinpurr');" >
        <img class="tpr prj" src="../../../assets/images/Tinpurr.png" alt="tinpurr site">
        <div class="overlay">
          <p>A parody web page for a cat dating app. It was a project I used to expand my Bootstrap knowledge. I used HTML, CSS and Bootstrap. Link to <a class="pj" href="https://catlove.netlify.com/" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'tinpurrLink');">Live Site.</a></p>
        </div>
      </div>
    </div>
    <!-- Barefoot Life -->
    <div class="proj-row ">
      <div class="image">
        <img class="bft prj" src="../../../assets/images/Barefoot.png" alt="Barefoot site">
        <div class="overlay">
          <p>This is a responsive site built with Wix for a digital media and marketing company. View <a class="pj" href="https://www.barefootlifemedia.com/"
              target="_blank">Live Site.</a></p>
        </div>
      </div>
    </div>
    <!-- JobPixel -->
    <div class="proj-row ">
      <div class="image">
        <img class="hiro prj" src="../../../assets/images/JobPixelImg.png" alt="JObPixel site">
        <div class="overlay">
        <p>From initial startup to MVP. I designed and coded the initial http auth Login splash page, worked on the Contact page, and integrated Google Analytics and Google Tag Manager to the site.  The app was built in React.js, Redux, HTML, CSS. <a class="pj" href="https://www.jobpixel.com/"
              target="_blank">View live here.</a></p>
        </div>
      </div>
    </div>
    <!-- Blackverse Productions Newsletter -->
    <div class="proj-row ">
      <div class="image">
         <img class="nws prj" src="../../../assets/images/BVNLapp.png" alt="Blackverse Productions Newsletter Signup">
        <div class="overlay">
          <p>This is an app I built for a newsletter signup for a Production company. I used HTML, CSS, Node.js with express, https, and body-parser. Mailchimp API was used to store the data collected from the form. It was deployed using Hiroku. <a class="pj"
              href="https://salty-brushlands-39305.herokuapp.com/" target="_blank">View live here.</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="work">
  <p>This profile page was created using Angular and Bootstrap.</p>
</div>
