<div id="projects" class="sect proj">
  <h2>Web Dev Projects</h2>
  <div class="row show">
    <div class="proj-row" *ngFor="let dev of devProj">
      <div class="image">
        <img class="prj" src="{{dev.img}}" alt="{{dev.title}}">
        <div class="overlay">
          <p>{{dev.desc}}<a class="pj" href="{{dev.route}}" target="_blank">{{dev.linkText}}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="work">
  <p>This profile was created using Angular with Scss and Bootstrap.</p>
</div>
