
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171500746-1"></script>
<div id="games" class="sect proj">
  <h2>Game Dev Projects</h2>
  <div class="row show">
      <div class="proj-row" *ngFor="let game of gameProj">
        <div class="image">
          <img class="prj" src="{{game.img}}" alt="{{game.title}}">
          <div *ngIf="game.title !== 'Dungeon Escape' " class="overlay">
            <p>{{game.descBefore}} <a class="pj" routerLink="{{game.route}}">{{game.title}}</a> {{game.descAfter}}</p>
          </div>
          <div *ngIf="game.title == 'Dungeon Escape' " class="overlay">
            <p>This is a mobile game I built for iOS and Android platforms.  It was built in C# and the Unity Game Engine.
              <span class="pj">Apple Store(coming soon)</span><a class="pj" href="https://play.google.com/store/apps/details?id=com.BlackverseGames.DungeonEscape" target= "_blank"><img src="../../../assets/images/google-play-badge.png" style="max-height: 48px;"></a>
            </p>
          </div>
        </div>
      </div>
  </div>
</div>
