
<div id="games" class="sect proj">
  <h2>Game Dev Projects</h2>
  <!-- Platform Hustle -->
  <div class="row show">
    <div class="proj-row ">
      <div class="image" onmouseover="ga('send','event', 'overlay', 'hover', 'tinpurr');" >
        <img class="prj" src="../../../assets/images/PlatformHustleImg.png" alt="Platform Hustle">
        <div class="overlay">
          <p>A fun platformer game made with C# and the Unity Game Engine. Play <a class="pj" routerLink="/platform-hustle" onclick="ga('send', 'event', 'link', 'click', 'platformHustleLink');">Platform Hustle</a> on desktop or laptop.</p>
        </div>
      </div>
    </div>
    <!-- Space Shooter -->
    <div class="proj-row ">
      <div class="image">
        <img class="prj" src="../../../assets/images/SpaceShooterImg.png" alt="Space Shooter">
        <div class="overlay">
          <p>This is a 2D Space Shooter game, my first game created in Unity.  Built in C# and Unity Game Engine. Play <a class="pj" routerLink="/space-shooter"
             >Galaxy Shooter</a> on desktop or laptop.</p>
        </div>
      </div>
    </div>
    <!-- The Great Fleece -->
    <div class="proj-row ">
      <div class="image">
        <img class="prj" src="../../../assets/images/GreatFleeceImg.png" alt="The Great Fleece">
        <div class="overlay">
          <p>A fun 3D sleuth game created with Unity 3D, C#, and Cinemachine. Play <a class="pj" routerLink="/the-great-fleece"
             >The Great Fleece</a> on desktop or laptop.</p>
        </div>
      </div>
    </div>
    <!-- Dungeon Escape -->
    <div class="proj-row ">
      <div class="image">
         <img class="prj" src="../../../assets/images/DungeonImg.png" alt="Dungeon Escape">
        <div class="overlay">
          <p>This is a mobile game I built for iOS and Android platforms.  It was built in C# and the Unity Game Engine.
            <span class="pj">Apple Store(coming soon)</span><a class="pj" href="https://play.google.com/store/apps/details?id=com.BlackverseGames.DungeonEscape" target= "_blank"><img src="../../../assets/images/google-play-badge.png" style="max-height: 48px;"></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
