<div class="insideTop">
  <div class="row links">
    <!-- About Me -->
    <div class="drop abt">
      <a href="#about">
        <img src="../../../assets/images/user1.png" class="abtImg" alt="About Me">
        <h6 class="labels">About Me</h6>
      </a>
    </div>
    <!-- Projects -->
    <div class="drop projct ">
      <a href="#projects">
        <img src="../../../assets/images/projects.png" alt="My Projects">
        <h6 class="labels">Projects</h6>
      </a>
    </div>
    <!-- Skills -->
    <div class="drop sklz ">
      <a href="#skills">
        <img src="../../../assets/images/skills.png" alt="My Skills">
        <h6 class="labels">Skills</h6>
      </a>
    </div>
    <!-- Contact -->
    <div class="drop ctc ">
      <a href="#contact">
        <img src="../../../assets/images/contact.png" alt="Contact Me">
        <h6 class="labels">Contact</h6>
      </a>
    </div>
  </div>
</div>
