.skillImg {
  height: 30px;
}

.sklzList {
  width: 60%;
  margin: auto;
  text-align: left;
}

.graph-cont {
  margin: 0;
  padding: 0;
}

.sklzCol1, .sklzCol2 {
  max-width: 18.125rem;
}
ul {
  list-style: none;
  padding: 0;
  background-color:  #66BFBF;
  border-radius: 10px;
  color: #f8f8ff;
}
li {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
}
.skill-row {
  padding-top: 40px;
  margin: 0 15px;
  box-sizing: content-box;
  justify-content: space-evenly;
}
