<div id="skills" class="sect sklzList">
  <h2>Skills</h2>
  <div class="row skill-row ">
    <div class="col-md-6 col-sm-12 sklzCol1">
      <ul class="graph-cont">
        <li>HTML & CSS</li>
        <li>Javascript & jQuery</li>
        <li>Node.js</li>
        <li>C#</li>
        <li>Unity</li>
        <li>React.js</li>
        <li>Angular</li>
        <li>Sass/Scss</li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-12 sklzCol2">
      <ul class="graph-cont">
        <li>Wordpress</li>
        <li>Bootstrap</li>
        <li>UX Design</li>
        <li>Figma</li>
        <li>AdobeXD</li>
        <li>Responsive Design</li>
        <li>Google Analytics</li>
        <li>Google Tag Manager</li>
      </ul>
    </div>
  </div>
</div>
