.cv {
  text-align: center;
  background-color: #08050b;
}

button{
  background-color: transparent;
  border:none;
}

.hme {
  position: fixed;
  top: 30px;
  left: 30px;
}

.cvImg {
  padding: 10px;
}

