
<div class="gameBody">
  <header class="gameHeader">
      <div class="gameHeadNav">
       <div class="drop hme dropGame">
      <a routerLink="" fragment="games"><img src="../../../assets/images/home.png" class="abtImg" alt=""></a>
        <h6 class="labels lbl">Home</h6>
    </div>
      </div>
  </header>
  <div class="game">
  <iframe src="https://i.simmer.io/@Aeaeron/the-great-fleece" style="width:960px;height:600px"></iframe>
  </div>
  <h2>Controls</h2>
  <p><span class="pj">Direction:</span> Left Mouse Click on the floor where you want to go
  <span class="pj">&nbsp&nbsp Throw Coin:</span> Right Mouse Click on the floor where you want to throw the coin
  </p>
</div>
